/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font: 17px/1.4 'Segoe UI', 'Segoe', Verdana, Arial, sans-serif;
}

body {
  background-color: #fff;
}

section.header {
  background-color: pink;
  height: 90px;
  h1 {
    color: #000;
  }
}

.panel {
  position: relative;

  border: 1px solid red;
}
.panel__content {
  max-width: 1960px;
  margin: 0 auto; // center align

  border: 1px solid green;
}
.panel__layout {
  max-width: 1540px;
  margin: 0 auto; //center align

  border: 2px solid orange;
}
.panel_title {
    color: #000;
    padding-bottom: 10px;
    h1 {
        font-size: 45px;
        font-weight: 600;
    }
    h2 {
        font-size: 25px;
        font-weight: 600;
    }
    p {
      font-size: 15px;
      font-weight: 300px;
    }
}
iframe {
  border: 8px solid rgb(206, 206, 206);
}
.sidenav {
  @include flexbox;
  @include flex-wrap(nowrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  border: 2px solid yellow;
  // .flex-item1 {
  //   background: grey;
  //   ul {
  //     @include flexbox;
  //     @include flex-wrap(wrap);
  //     @include flex-direction(column);
  //     @include justify-content(left);
  //     margin: 10px;
  //     border: 2px solid brown;
  //     li {
  //       line-height: 35px;
  //       @include respond-to(for-tablet-landscape-up) {
  //       }
  //       .flex-item {
  //       @include flexbox;
  //       // @include justify-content (flex-end);
  //       margin-right: 10px;
  //
  //       border: 2px solid orange;
  //       }
  //     }
  //   }
  // }
}
